In [ ]:
print("Day-1")

Day-1

In [ ]:
print("Ashutosh")

Ashutosh

In [33]:
a=5
b=5
if a > b:print("a is greater than b!")
elif a == b:print("a and b are equal")
else:print("b is greater than a!")

a and b are equal

In [24]:
name = "Ashu"
age = 36
print(name,age)
print(f"{name} is {age} years old")

Ashu 36
Ashu is 36 years old

In [12]:
x = 5
x = "Hello"
print(x)

Hello

In [13]:
x = 23 # int
y = 5.6 # float
z = 1+2j # complex

In [14]:
print(type(x), type(y),  type(z))

<class 'int'> <class 'float'> <class 'complex'>

In [23]:
a = "Hello World"
print(a[1])
print(a[0:5])

e
Hello

In [25]:

y = int(3.2) # y will be 3
z = int("3") # z will be 3

x = float(2) # x will be 2.0
z = float("3") # z will be 3.0
w = float("1.2") # w will be 1.2

y = str(20) # y will be "20"
z = str(3.0) # z will be "3.0"

In [26]:
mylist = ["grapes", "banana", "mango"]
print(mylist)
mymixedlist = ["grapes", 100, "banana", 12, "mango", 5.0]
print(mymixedlist)
list1 = ["Once","upon","a","time"]
list2 = ["there","was","a","king"]
list3 = list1+list2
print(list3)
print(list3[::-1])

['grapes', 'banana', 'mango']
['grapes', 100, 'banana', 12, 'mango', 5.0]
['Once', 'upon', 'a', 'time', 'there', 'was', 'a', 'king']
['king', 'a', 'was', 'there', 'time', 'a', 'upon', 'Once']

In [28]:
mytuple = ("grapes", "banana", "mango")
print(mytuple)

('grapes', 'banana', 'mango')

In [29]:
myset = {"grapes", "banana", "mango"}
print(myset)

{'grapes', 'banana', 'mango'}

In [31]:
mydict = {
"first name": "Anuj",
"last name": "Gupta",
"age": 23
}
print(mydict)

{'first name': 'Anuj', 'last name': 'Gupta', 'age': 23}

In [42]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [43]:
fruits = ["grapes", "banana", "mango"]
for x in fruits:
  print(x)

grapes
banana
mango

In [45]:
st = ["grapes", "banana", "mango"]
print(len(st))

3

In [46]:
for i in range(100,0,-2):
 print(i,end=", ")

100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2,

In [48]:
def my_function():
  print("Hello World")

my_function()

Hello World

In [49]:
def my_function(a,b):
 c = a+b
 d = a-b
 return c,d

In [50]:
add, sub = my_function(15,10)
print(add) #Prints 25
print(sub) #Prints 5

25
5

In [51]:
t = my_function(15,10)
print(t)

(25, 5)

In [52]:
x = lambda a : a + 10
print(x(5))

15

In [1]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [2]:
mytuple = ("grapes", "banana", "mango")
myit = iter(mytuple)
print(next(myit))
print(next(myit))
print(next(myit))

grapes
banana
mango

In [3]:
class Rectangle:
 length = 15
 breadth = 19

In [4]:
p1 = Rectangle()
print(p1.length)
print(p1.breadth)

15
19

In [5]:
class Rectangle:
 def __init__(self,l,b):
  self.length = l
  self.bredth = b
 def area(self):
  return(self.length*self.bredth)
 def perimeter(self):
  return(2*self.length+2*self.bredth)

In [6]:
r1 = Rectangle(5,6)
r1.area()
r1.perimeter()

22

In [10]:
#create a file
f = open("myfile.txt", "w")
f.write("Hello World")
f.close()

In [12]:
f = open("myfile.txt", "r") #Opens the file
print(f.read()) #Reads the entire content of the file
f.close()

Hello World

In [13]:
f = open("myfile.txt", "r")
print(f.read(5)) #Prints the first 5 characters
f.seek(0) #Takes you to beginning of file (0 denotes 0 byte)
print(f.read()) #Prints the entire file from beginning
f.close()

Hello
Hello World

In [14]:
f = open("myfile.txt", "a")
f.write("Appending content to the file.")
f.close()

In [ ]:
import os
os.remove("myfile.txt")