In [ ]:
print("Day-1")

Day-1

In [ ]:
print("Ashutosh")

Ashutosh

In [33]:
a=5
b=5
if a > b:print("a is greater than b!")
elif a == b:print("a and b are equal")
else:print("b is greater than a!")

a and b are equal

In [24]:
name = "Ashu"
age = 36
print(name,age)
print(f"{name} is {age} years old")

Ashu 36
Ashu is 36 years old

In [12]:
x = 5
x = "Hello"
print(x)

Hello

In [13]:
x = 23 # int
y = 5.6 # float
z = 1+2j # complex

In [14]:
print(type(x), type(y),  type(z))

<class 'int'> <class 'float'> <class 'complex'>

In [23]:
a = "Hello World"
print(a[1])
print(a[0:5])

e
Hello

In [25]:

y = int(3.2) # y will be 3
z = int("3") # z will be 3

x = float(2) # x will be 2.0
z = float("3") # z will be 3.0
w = float("1.2") # w will be 1.2

y = str(20) # y will be "20"
z = str(3.0) # z will be "3.0"

In [26]:
mylist = ["grapes", "banana", "mango"]
print(mylist)
mymixedlist = ["grapes", 100, "banana", 12, "mango", 5.0]
print(mymixedlist)
list1 = ["Once","upon","a","time"]
list2 = ["there","was","a","king"]
list3 = list1+list2
print(list3)
print(list3[::-1])

['grapes', 'banana', 'mango']
['grapes', 100, 'banana', 12, 'mango', 5.0]
['Once', 'upon', 'a', 'time', 'there', 'was', 'a', 'king']
['king', 'a', 'was', 'there', 'time', 'a', 'upon', 'Once']

In [28]:
mytuple = ("grapes", "banana", "mango")
print(mytuple)

('grapes', 'banana', 'mango')

In [29]:
myset = {"grapes", "banana", "mango"}
print(myset)

{'grapes', 'banana', 'mango'}

In [31]:
mydict = {
"first name": "Anuj",
"last name": "Gupta",
"age": 23
}
print(mydict)

{'first name': 'Anuj', 'last name': 'Gupta', 'age': 23}

In [42]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5